footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 0.25rem 1rem;
    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
    p {
        margin: 1rem 0;
    }
}