header#header {
  background-color: #000;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
  .material-icons {
    font-size: 2.5rem !important;
    position: absolute;
    padding: 10px 50px 20px 10px;
    cursor: pointer;
    z-index: 99;
    &.open-menu {
      color: black;
    }
  }
  .flex {
    position: relative;
    justify-content: space-between;
    align-items: center;
  }
  img {
    height: 108px;
    @include md-up {
      height: 130px;
    }
  }
  .personal-data {
    text-align: right;
    padding: 0.5rem;
    p {
      margin: 0;
      font-size: 0.875rem;
    }
    @include md-up {
      padding: 1rem 1.5rem;
      p {
        margin: 8px 0 0 10px;
      }
    }
  }
  a {
    color: white;
    text-decoration: none;
  }
  .data-block {
    display: inline-block;
  }

  nav#nav-sm {
    background-color: white;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      margin: 0;
      li {
        a {
          display: block;
          margin: 0 0.5rem;
          padding: 1rem;
          width: 120px;
        }
      }
    }
  }
  #nav-md,
  #nav-sm {
    display: none;
  }
  @include md-up {
    #nav-sm {
      display: none;
    }
    #nav-md {
      display: block;
    }
    .material-icons {
      display: none;
    }
  }
  nav#nav-md {
    ul {
      list-style-type: none;
      text-align: center;
      margin: 25px 0;
      li {
        display: inline;
        margin: 1rem;
        a {
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
    }
    a {
      color: white;
    }
  }
}
