section {
  margin-bottom: 3rem;
}

/* Introduction */

#intro {
  @include md-up {
    p {
      max-width: 66%;
      margin: 0 auto;
    }
  }
}

/* Competences */

// Mobile

#competences {
  background-color: black;
  color: white;
  position: fixed;
  width: 40px;
  height: 250px;
  left: 0;
  top: 25%;
  transition: width 0.5s ease-out;
  overflow: hidden;
  #open-icon {
    font-size: 2rem !important;
    padding: 0.5rem 5rem 3rem 0.5rem;
    position: fixed;
    cursor: pointer;
  }
  h2 {
    transform: rotate(-90deg) translate(-165px, 0);
    font-size: 1.5rem;
    cursor: pointer;
  }
  h3 {
    display: none;
  }
  .skill-set {
    display: none;
    .head{
      margin-bottom: 30px;
    }
  }
  .languages {
    width: 100px;
    display: inline-block;
  }
  &.open {
    background-color: black;
    color: white;
    overflow-y: scroll;
    box-shadow: 0px 0px 15px 1px #999;
    width: 90%;
    height: 60%;
    .container {
      padding-left: 0;
      max-width: 75%;
      h2 {
        font-size: 2.5rem;
        transform: rotate(0deg) translate(0, 0);
      }
      .accordion {
        cursor: pointer;
        transition: 1s;
      }
      .skill-set {
        display: flex;
        
        .head {
          height: 50px;
          visibility: hidden;
          &.animated {
            visibility: visible;
          }
        }
        .panel {
          display: none;
          overflow: hidden;
        }
      }
    }
  }
}

// Tablet & Desktop
@include md-up {
  #competences {
    position: relative;
    width: auto;
    height: auto;
    #open-icon {
      display: none;
    }
    h2 {
      transform: rotate(0deg) translate(0, 0);
      font-size: 4rem;
      cursor: none;
    }
    img {
      height: 100px;
    }
    p {
      margin: 0 0 1rem;
    }
    .skill-set {
      margin-bottom: 2rem;
      display: flex;
      margin: 20px;
    }
    .head {
      visibility: hidden;
      margin-top: 10px;
    }
    .head.animated {
      visibility: visible;
    }
  }
}

/* Experiences & Etudes */

#experiences {
  background-color: #fafafa;
  padding: 1rem 0;
  @include md-up {
    h2 {
      text-align: left;
      margin-left: 7.5%;
    }
  }
}

.dates {
  display: inline-block;
  width: 145px;
}

.material-icons {
  font-size: 1rem !important;
  width: 1rem;
  margin-top: 2px;
  margin: 0 1rem 0 0;
}