section {
  margin-bottom: 5rem;
}

/* Introduction */

#intro {
  @include md-up {
    p {
      max-width: 66%;
      margin: 0 auto;
    }
  }
}

/* Competences */

// Mobile

#competences {
  background-color: black;
  color: white;
  position: fixed;
  width: 40px;
  height: 400px;
  left: 0;
  bottom: 10px;
  transition: width 1s ease-out;
  #open-icon {
    font-size: 2rem !important;
    padding: 0.5rem;
    position: fixed;
  }
  h2 {
    transform: rotate(-90deg) translate(-235px, 0);
    font-size: 2rem;
    cursor: pointer;
  }
  .skill-set {
    display: none;
  }
  &.open {
    overflow-y: scroll;
    box-shadow: 0px 0px 15px 1px #999;
    width: 90%;
    .container {
      padding-left: 0;
      h2 {
        font-size: 2.5rem;
        transform: rotate(0deg) translate(0, 0);
      }
      .skill-set {
        display: flex;
        .head {
          height: 50px;
          margin-top: 10px;
          visibility: hidden;
          &.animated {
            visibility: visible;
          } 
        }
      }
    }
  }
}

// Tablet & Desktop
@include md-up {
  #competences {
    img {
      height: 100px;
    }
    p {
      margin: 0 0 1rem;
    }
    .languages {
      width: 100px;
      display: inline-block;
    }
    .skill-set {
      margin-bottom: 2rem;
    }
    .head {
      visibility: hidden;
    }
    .head.animated {
      visibility: visible;
    }
  }
}


/* Experiences & Etudes */

#experiences {
  @include md-up {
    h2 {
      text-align: left;
      margin-left: 7.5%;
    }
  }
}

.dates {
  display: inline-block;
  width: 145px;
}

.material-icons {
  font-size: 1rem !important;
  width: 1rem;
  margin-top: 2px;
  margin: 0 1rem 0 0;
}
