* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 65%;
  margin: 0 auto;
  @include md-up {
    max-width: 80%;
  }
}

.material-icons.arrow {
  vertical-align: top;
  margin-top: 5px;
}


body::-webkit-scrollbar {
  width: .5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}