* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 70%;
  margin: 0 auto;
  @include md-up {
    max-width: 80%;
  }
}

.material-icons.arrow {
  vertical-align: top;
  margin-top: 5px;
}
