body {
  font-family: $default-font;
  font-weight: 300;
}

h1, h2 {
  font-size: 4rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

h4 {
  margin: 0;
  font-weight: 600;
  font-size: 1.25rem;
}
